body {
    background-color: #000818;
}

h1, h3, h4 {
    text-align: center;
    color: #FFFFF0;
    
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}

/** hero image **/

#hero-image {
    background: url("../css/images/Hohner.jpg") no-repeat fixed center top;
    height: 600px;
    width: 100%;
    background-size: 80%;
    

}

p {
    text-align: justify;
    color: #FFFFF0 ;
}