body {
    background: url("../css/images/pexels-pixabay-235985.jpg") center top;
    height: 1000px;
    width: 100%;
    background-size: fill;

    /**background-color: #000818;**/
}

h1, h3, h4 {
    font-family: 'Vollkorn', serif;;
    text-align: center;
    color: #FFFFF0;
    
}

h1 {
    font-size: 70px;
    letter-spacing: 1px;
}

h3 {
    font-size: 40px;
    letter-spacing: 1px;
}

h4 {
    font-size: 30px;
}

ul {
    text-align: center;
    font-family: 'Vollkorn', serif;;
    color: #FFFFF0;
    
}

li {
    display: inline-block;
}

#nav-menu {
    font-size: 150%;
    letter-spacing: 1px;
    
}

#nav-menu li {
    list-style-type: none;
    margin-right: 20px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #FFFFF0;
}

#nav-menu a:hover {
    color: darkslategrey;
}

.active {
    -webkit-text-fill-color: darkslategray;
}

/** hero image **/

#hero-image {
    background: url("../css/images/pexels-pixabay-235985.jpg") no-repeat center top;
    height: 1000px;
    width: 100%;
    background-size: fill;
    
}

#conor-image {
    background: url("../css/images/DSC_0047editedbw.jpg");
    height: 680px;
    width: 700px;
    margin-left: 23%;
    background-repeat: no-repeat;
    background-position: 120% 20%;
    background-size: cover;
    border-color: #FFFFF0;
    border-width: 10px;
    border-style: solid;
    
}

p {
    text-align: justify;
    color: #FFFFF0 ;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    margin: 40px;
}

/** footer styling **/

footer {
    height: 150px;
    text-align: center;
}

.social-network {
    text-align: center;
}

.social-network li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin:1%;
    padding:5%;
    color:#FFFFF0
    
}

.footer-text {
    text-align: center;
    font-family: 'Vollkorn', serif;
}
/** Upcoming Gigs page css **/

#group-image {
    background: url("../css/images/20230117_123921.jpg");
    height: 500px;
    width: 800px;
    margin-left: 22%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0%;
    border-color: #FFFFF0;
    border-width: 10px;
    border-style: solid;
}

.group-image-caption {
    text-align: center;
    display: block;
    
}

table {
    width: 100%;
}

th {
    font-weight: bold;
}

.table-contents {
    font-family: 'Vollkorn', serif;
    font-size: 120%; 
}
tr {
    width: 200%;
    text-align: center;
}

.header-row th {
    font-weight: bolder;
    color: #FFFFF0;
}

.table-info tr {
    font-size: 150%;
}


/** Tutoring page styling **/

#alison-link {
    margin-left: 30%;
   
}