/** initial styling for the page background **/

body {
    background: url("../css/images/old-map-background.jpg") center top;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

}

h1, h3, h4 {
    font-family: 'Vollkorn', serif;;
    text-align: center;
    color: black;
    
}

h1 {
    font-size: 4.375rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

h4 {
    font-size: 1.875rem;
}

/** nav menu basic styling **/

ul {
    text-align: center;
    font-family: 'Vollkorn', serif;;
    color: black;
    
}

/** nav menu display in inline block) **/

li {
    display: inline-block;
}

/** nav menu styling (received help from course examples) **/

#nav-menu {
    font-size: 150%;
    letter-spacing: 1px;
    
}

/** nav menu styling (received help from course examples) **/

#nav-menu li {
    list-style-type: none;
    margin-right: 20px;
}

/** nav menu styling (received help from course examples) **/

#nav-menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #FFFFF0;
}

/** nav menu color styling when hovered over **/

#nav-menu a:hover {
    color: white;
}

/** nav menu background coloring styling when page is active **/

.active {
    -webkit-text-fill-color: white;
}

/** background image styling for whole website **/

#hero-image {
    background: url("../css/images/old-map-background.jpg") no-repeat center top;
    height: 1000px;
    width: 100%;
    
}

/** home page main image styling **/

#conor-image {
    background: url("../css/images/conor-box.jpg");
    height: 680px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 120% 20%;
    background-size: cover;
    border-color: #FFFFF0;
    border-width: 10px;
    border-style: solid;
    
}

article {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 20px 10px;
}

/** home page paragraph styling **/

p {
    text-align: left;
    color: black;
    font-family: 'Vollkorn', serif;
    font-size: 1.3rem;
    margin: 40px;
}

/** Embed video link on home page **/
#tradfest-link {
    margin-left:16%;
}

/** footer styling **/

footer {
    height: 150px;
    text-align: center;
}

/** social network links tab - help received from love running project **/

.social-network {
    text-align: center;
}

.social-network li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin:1%;
    padding:5%;
    color:#FFFFF0
    
}

/** copyright footer text styling **/

.footer-text {
    text-align: center;
    font-family: 'Vollkorn', serif;
}

/** Tutoring page styling **/

/** embed youtube link alignment **/

#alison-link {
    margin-left: 30%;
   
}

/** Contact page styling **/

.contact-text {
    text-align: center;
}

/** overall form styling for the contact page **/

.form {
    font-family: 'Vollkorn', serif;
    color: #FFFFF0;
    font-size: 20px;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

/** text field styling with help from w3 schools**/

input {
    width: 18%;
    padding: 10px 10px;
    margin: 5px;
    background-color: darkslategrey;
    color: #FFFFF0;
    border-radius: 5px;
    text-align: center;
}

/** contact form textarea box styling **/

input, textarea {
    width: 60%;
    max-width: 360px;
    padding: 10px 10px;
    margin: 5px;
    background-color: darkslategrey;
    color: #FFFFF0;
    border-radius: 5px;
    text-align: center;
    
}

/** attempt at styling contact form submit button **/

input [type=submit] {
    font-family: 'Vollkorn', serif;
}

/** styling the radio buttons on contact page **/

.radio {
    display: inline-block;
    align-items: center;
    font-size: 0.938rem;
  }

  /** media Queries **/

  /** for medium screens 992px wide **/

  @media screen and (max-width: 992px) {
    #tradfest-link {
        margin-left: auto;
        margin-right: auto;
    }
  }

  /** for smaller devices down to I Phone 7 **/

  @media screen and (max-width: 400px) {
    #tradfest-link {
        max-width: 100%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        contain: content;
    }

    #conor-image {
        height: 45%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .article {
        margin-top: 30px;
        padding: 0%;
    }

    #alison-link {
        max-width: 100%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        contain: content;
    }
  }